<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h2>{{ title }}</h2>

<h3>Имя : {{ name }}</h3>
<h3>Телефон : {{ phone }}</h3>
<h3>Email : {{ email }}</h3>
<h3>Собщение : {{ message }}</h3>

</body>